@import "~normalize-scss/sass/_normalize.scss";
@include normalize();
@import "./vars.scss";
@import "./mixins.scss";
@import "./transitions.scss";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  font-size: 14px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: #000;
  text-decoration: none;
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}