// Colors
$primary: #F05711;
$secondary: #00954E;

// text
$text_color: #000;

// background
$overlay_bg: rgba(0,0,0, 0.9);

// Border
$border_color: #ccc;

// shadow
$shadow_color: rgba(0, 0, 0, 0.1);